# News APIs
# Get your free API key from https://newsapi.org
NEWS_API_KEY=18edc72a47ac42e1a53cfa671dd94459

# Alternative news API: https://gnews.io
GNEWS_API_KEY=2a6824099b1c93b502dccf6060996ca2

# Weather API
# Get your free API key from https://openweathermap.org/api
WEATHER_API_KEY=2c2f2eeb91849859ca9295cc239f3a20

# Optional: Stock Market API
# Alpha Vantage: https://www.alphavantage.co/support/#api-key
STOCK_API_KEY=L2NY2XD40URP4NBO
